.dropdown {
  position: fixed;
  background-color: #ffe39f;
  z-index: 3;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem 0.5rem;
  color: #374151;
  font-weight: bold;
  width: 150px;
  opacity: 0.85;
  top: -200px;
  transition: transform 0.5s ease-in-out;
  right: 6px;
  color: #393f5a;
}

.open {
  width: 150px;
  height: auto;
  z-index: 3;
  opacity: 1;
  transform: translateY(250px);
}

.navbar {
  z-index: 1;
}