.dropdown {
  position: fixed;
  top: -100px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  right: 6px;
}

.open{
  transform: translateY(100px);
  width: 33%;
  height: auto;
  background-color: #ffe39f;
  z-index: 3;
  display:flex;
  flex-flow: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem;
  color: #374151;
  font-weight: bold;
}

.navbar{
z-index: 2;
}

