.dropdown {
  position: fixed;
  top: -100px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100px;
  right: 5px;
  color: white;
}

.open{
  transform: translateY(100px);
}

.navbar{
z-index: 2;
}