/* .App {
  text-align: center;
  background-color: #96CCFF;
  color: #FFFCEB;
}

.Links {
  background-color: #96CCFF;
  color: #FFFCEB;
  text-decoration: none;
}

.thumbnailImage {
  height: 200px;
  width: auto;
}

.image {
  height: 300px;
  width: auto;
}

@media screen and (min-width: 480px) {


} */